<nav class="navbar navbar-light bg-light d-flex justify-content-between">

  <div class="navbar-brand d-inline-block align-top">
    <%= image_tag("airbnb-logo.png", width: "60px") %>
  </div>
  <div class="btn btn-primary">+ Add Flat</div>

</nav>

<h1>FLATS</h1>
<ul>
  <% @flats.each do |flat| %>
    <li><%= flat.name %></li>
  <% end %>
</ul>