<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/rails-simple-airbnb/app/assets/images/airbnb-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>


</nav>
<h1>FLATS</h1>
<ul>
  <% @flats.each do |flat| %>
    <li><%= flat.name %></li>
  <% end %>
</ul>